[Desktop Entry]
Name=sbotool (as root)
Comment=Manage SBo packages with the sbotools TUI (as root)
Exec=su -lc /usr/bin/sbotool
Type=Application
Terminal=true
Icon=sbotools_root
Categories=System;ConsoleOnly;
