[Desktop Entry]
Name=sbotool Package Check
Comment=Check packages for missing solibs and other issues.
Exec=/usr/bin/sbotool --tests
Type=Application
Terminal=true
Icon=sbotools_tests
Categories=System;
