---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$serif: "IBM Plex Sans";
$sans-serif: "IBM Plex Sans";
$monospace: "IBM Plex Mono";

$base00: #121212 !default;
$base0f: #b5b5b5 !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
